@charset "utf-8";

@font-face {
  font-display: swap;
  font-family: "D2Coding";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/D2Coding/d2coding-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "D2Coding";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/D2Coding/d2coding-bold.ttf") format("truetype");
}
